.war{  
         
          
    width: 300px; 
   
 }
 button{
     background-color: green;
     color: aliceblue; 
     padding: 5px 8px; 
 }
.bir{
 border: 1px solid ;
 margin: 20px 400px 30px;
 border-radius: 180px;
 background-image: radial-gradient(aliceblue,aliceblue, rgb(234, 235, 237), rgb(220, 221, 222),rgb(186, 186, 186));
 width: 400px;
 height: 400px;
 top: 20%;
 left: 30%;
 bottom: 10px;
 display: flex;
}
img{
   width: 1px;
   height:1px;
   border: 0px solid;
   position: absolute;
}
 #img{
   width:35px;
   height:35px;
     top:140px;
     right: 870px;
     z-index: 5;
 }
 #img5{
   width: 25px;
   height: 25px;
   top:280px;
   right: 950px;
    }
 #img2{
   width: 45px;
   height: 45px;
     top:180px;
    right:960px;
 }
 #img3{
   width: 30px;
   height: 30px;
     top:120px;
     right: 810px;
 }
 #img4{
   width:50px;
   height:50px;
     top:220px;
     right:860px;
 }
 #img1{
   width:43px;
   height:43px;
     top:120px;
     right:1000px;      
 }